body
{
background-color: #ffffff; /*valkoinen*/
font-family: Verdana, Helvetica, sans-serif;
font-size: 12px; 
text-align: center; /*for IE*/
}

h1 
{
color: #000000;
font-weight: bold;
font-size: 22px;
font-family: Verdana, Helvetica, sans-serif;
}

h2 
{
color: #000000;
font-weight: bold;
font-size: 20px;
font-family: Verdana, Helvetica, sans-serif; 
}

h3 
{ 
color: #000000;
font-weight: bold;
font-size: 18px;
font-family: Verdana, Helvetica, sans-serif;
}

h4 
{ 
color: #000000;
font-weight: bold;
font-size: 16px;
font-family: Verdana, Helvetica, sans-serif;
}

h5 
{ 
color: #000000;
font-weight: bold;
font-size: 14px;
font-family: Verdana, Helvetica, sans-serif;
}

p 
{ 
color: #000000; 
font-weight: normal;
font-size: 14px;
font-family: Verdana, Helvetica, sans-serif;
}

li 
{
font-weight: normal; 
font-size: 14px;
font-family: Verdana, Helvetica, sans-serif;
}

a:link, a:visited, a:active
{
color: #000000;
}

a.valikko
{
color: #ccff00;
}

a.valikko:hover
{
color: #fefefe;
}

a.vuodet
{
color: #ccff00;
}

ul 
{
list-style-image: none;
list-style-type: circle;
}

li:hover 
{
list-style-type: disc;
}

.speakers:hover
{
background-color: #bbfa00;
}

.valikko /*navigointilinkit*/
{
background-color: #375780;
}

.left /*valikko*/
{
width: 200px;
background-color: #375780; 
vertical-align: top;
}

.right /*tekstiosio*/
{
background-color: #e6e6e6; 
padding-left: 10px;
padding-right: 20px;
vertical-align: top;
}

.top /*vuodet*/
{
background-color: #466fa4; 
}

.sponsors
{
margin-left: 2px; 
margin-right: 2px;
}

.tiedot
{
width: 200px;
}

table.center
{
width: 900px;
margin-left: auto; 
margin-right: auto;
}

tr, td 
{
text-align:left;
}
